<section
  class="resume-section p-3 p-lg-5 d-flex align-items-center"
  id="skills"
>
  <div class="w-100">
    <h2 class="mb-5">Skills</h2>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <i class="devicon-csharp-line colored" title="C#"></i>
      </li>
      <li class="list-inline-item">
        <i
          class="devicon-dot-net-plain-wordmark colored"
          title=".NET Framework / .NET Core"
        ></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-html5-plain-wordmark colored" title="HTML5"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-css3-plain-wordmark colored" title="CSS3"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-javascript-plain colored" title="Javascript"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-typescript-plain colored" title="Typescript"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-jquery-plain-wordmark colored" title="jQuery"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-angularjs-plain colored" title="Angular"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-react-original-wordmark colored" title="React"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-less-plain-wordmark colored" title="Less"></i>
      </li>
      <li class="list-inline-item">
        <i
          class="devicon-amazonwebservices-plain-wordmark colored"
          title="AWS"
        ></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-googlecloud-plain-wordmark colored" title="GCP"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-visualstudio-plain colored" title="Visual Studio"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-git-plain-wordmark colored" title="Git"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-mongodb-plain-wordmark colored" title="MongoDB"></i>
      </li>
    </ul>
    <div class="subheading mb-3">
      Proficient in the following technologies / methodologies:
    </div>
    <ul class="fa-ul mb-0">
      <li>C#, .NET Core, Entity Framework, WCF</li>
      <li>ASP.NET, ASP.NET MVC, Web Forms, Win Forms</li>
      <li>Javascript, Typescript, HTML5, CSS3, LESS, Bootstrap</li>
      <li>jQuery, Angular, React, Redux, Typescript, KnockoutJs, BackboneJs</li>
      <li>SQL Server, PostgreSql, MongoDB, Redis</li>
      <li>
        Rhino Mock, Moq, xUnit, NUnit, AutoFixture, NSubstitute, jasmine, mocha,
        sinon, chai, Jest, Enzyme
      </li>
      <li>
        Visual Studio, VS Code, Git, Azure DevOps, Continuous Integration,
        Continuous Delivery
      </li>
      <li>
        SOLID, OOP, Pair Programming, Agile, Scrum, TDD, Microservices, CQRS,
        DDD
      </li>
      <li>Node.js, npm, Nuget</li>
      <li>IBM AppScan, OWASP, Veracode, SonarQube</li>
      <li>
        AWS, Azure, Amazon SQS, EC2, Load balancer, Cloud Formation, Elastic
        Search, Docker, RabbitMQ
      </li>
    </ul>
  </div>
</section>
